* {
    box-sizing: border-box;
  }

  html {
    min-height: 100%;
    background-color: greenyellow; 
    background-image: url(https://i.imgur.com/XdCo4mB.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
 }

 .instructions {
    position: relative;
    text-align: center;
    top: 0%;
    font-family: 'Texturina', serif;
    font-size: x-large;
    color: red;
 }
 #welcome {
     font-size: xx-large;
     color: red;
 }

.levels {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; 
    align-items: center;
}
.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; 
    align-items: center;
}
 .tired {
     font-size: x-large;
     font-weight: bold;
     color: red;
 }
 .sleep {
     border-radius: 7px;
     background-color: navy;
     color: red;
     transition: color 0.25s, border-color 0.25s, box-shadow 0.25s, transform 0.25s;
 }
 .sleep:hover{
    background-color: brown;
    color: navy;
    cursor: pointer;
    box-shadow: 0 0.5em 0.5em -0.4em navy;
    transform: translateY(-0.25em);
 }
 .hunger {
     font-size: x-large;
     font-weight: bold;
     color: red;
 }
 .feed {
    border-radius: 7px;
    background-color: navy;
    color: red;
    transition: color 0.25s, border-color 0.25s, box-shadow 0.25s, transform 0.25s;
 }
 .feed:hover {
    background-color: brown;
    color: navy;
    cursor: pointer;
    box-shadow: 0 0.5em 0.5em -0.4em navy;
    transform: translateY(-0.25em);
 }
 .bored {
     font-size: x-large;
     font-weight: bold;
     color: red;
 }
 .play {
    border-radius: 7px;
    background-color: navy;
    color: red;
    transition: color 0.25s, border-color 0.25s, box-shadow 0.25s, transform 0.25s;
 }
 .play:hover {
    background-color: brown;
    color: navy;
    cursor: pointer;
    box-shadow: 0 0.5em 0.5em -0.4em navy;
    transform: translateY(-0.25em);
 }
 .name {
     font-size: xx-large;
     font-weight: bold;
     color: red;
 }
 .age {
     font-size: xx-large;
     font-weight: bold;
     color: red;
 }
 .start-button {
    position: relative;
    text-align: center;
    top: 25%;
    
 }
 .input-text {
    position: relative;
    text-align: center;
    top: 20%;
 }

 .baby-name {
    width: 390px;
    font-size:14pt;
 }
 .start {
    border-radius: 7px;
    background-color: gold;
    color: navy;
    width: 100px;
    height: 25px;
    
 }
 .start:hover {
    background-color: brown;
    color: navy;
    cursor: pointer;
 }
 .dino-egg {
     position: absolute;
     bottom: -25px;
     left: 48%;
     z-index: 2;
}
 .dino {
     position: absolute;
     bottom: 0px;
     left: 50%;
     z-index: 1;
 }

 .gameOver {
     text-align: center;
 }
 .failed {
    font-family: 'Texturina', serif;
    font-size: x-large;
    color: red;
 }

 .youWin {
     text-align: center;
 }
.winner {
    font-family: 'Texturina', serif;
    font-size: x-large;
    color: gold;
}
